<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>Need Help?</h3>
        <div class="clearfix"></div>
        <!--<p>
          Call Us at 866-332-7134 or <br>
          Email Us at <a href="#">xxx@s.com</a>
        </p>-->
      </div>

      <div class="col-md-4 terms">
        <p>Salto Schuedler. All Rights Reserved.</p>

       <!-- <ul class="termsList">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>-->
      </div>
    </div>
  </div>
</footer>